<ion-header>
    <ion-navbar>
        <ion-title>

        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row class="row--main-title">
        <ion-col col-sm-12 col-md-6 offset-md-3>
            <h2 text-center>
                <p class="h2--impress">Impress</p>
                <p class="h2--job">job</p>
            </h2>
        </ion-col>
    </ion-row>

    <ion-row class="row--page-facts">
        <ion-col col-sm-12 col-md-6 offset-md-3>
            <h2 text-center>
                <p class="h2--number-page">2/2</p>
                <p class="h2--personal-facts">Datos Personales</p>
            </h2>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-sm-12 col-md-6 offset-md-3>
            <form (ngSubmit)="logForm()">

                <ion-row class="row-main-title">
                    <ion-col col-sm-6 col-md-3 col-lg-3 offset-md-3>
                        <ion-item>
                            <ion-label stacked text-center class="form__text">País</ion-label>
                            <ion-select [(ngModel)]="country" name="country" text-center class="input__text">
                                <ion-option value="Venezuela" text-center class="input__text">Venezuela</ion-option>
                                <ion-option value="México" text-center class="input__text">México</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col col-sm-6 col-md-3 col-lg-3>
                        <ion-item>
                            <ion-label stacked text-center class="form__text">Edo./Prov./Dpto.</ion-label>
                            <ion-select [(ngModel)]="state" name="state" text-center class="input__text">
                                <ion-option value="Distrito Capital" text-center class="input__text">Distrito Capital</ion-option>
                                <ion-option value="Zulia" text-center class="input__text">Zulia</ion-option>
                                <ion-option value="Barinas" text-center class="input__text">Barinas</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-sm-12 col-md-6 offset-md-3>
                        <ion-item>
                            <ion-label stacked text-center class="form__text">Ciudad</ion-label>
                            <ion-select [(ngModel)]="city" name="city" text-center class="input__text">
                                <ion-option value="Caracas" text-center class="input__text">Caracas</ion-option>
                                <ion-option value="Valencia" text-center class="input__text">Valencia</ion-option>
                                <ion-option value="Miranda" text-center class="input__text">Miranda</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-sm-12 col-md-6 offset-md-3>
                        <ion-item>
                            <ion-label stacked text-center class="form__text">Dirección</ion-label>
                            <ion-input type="text" [(ngModel)]="address" name="address" text-center class="input__text"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-sm-6 col-md-3 offset-md-3>
                        <ion-item>
                            <ion-label stacked text-center class="form__text">Cod. de País</ion-label>
                            <ion-select [(ngModel)]="phoneCode" name="phoneCode" text-center class="input__text">
                                <ion-option value="52" text-center class="input__text">+52</ion-option>
                                <ion-option value="58" text-center class="input__text">+58</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col col-sm-6 col-md-3>
                        <ion-item>
                            <ion-label stacked text-center class="form__text">Teléfono</ion-label>
                            <ion-input type="text" [(ngModel)]="phone" name="phone" text-center class="input__text"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>


                <button ion-button type="submit" block class="btn--next" (click)="openFilters();">Continuar</button>
            </form>
        </ion-col>
    </ion-row>


</ion-content>