<ion-header>
    <ion-navbar>
        <ion-title>

        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row class="row--main-title">
        <ion-col col-sm-12 col-md-6 offset-md-3>
            <h2 text-center>
                <p class="h2--impress">Impress</p>
                <p class="h2--job">job</p>
            </h2>
        </ion-col>
    </ion-row>

    <ion-row class="row--page-facts">
        <ion-col col-sm-12 col-md-6 offset-md-3>
            <h2 text-center>
                <p class="h2--number-page">1/2</p>
                <p class="h2--personal-facts">Datos Personales</p>
            </h2>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-sm-12 col-md-6 offset-md-3>
            <form (ngSubmit)="logForm()">
                <ion-item>
                    <ion-label stacked text-center class="form__text">Nombre</ion-label>
                    <ion-input type="text" [(ngModel)]="name" name="name" text-center class="input__text" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked text-center class="form__text">Apellido</ion-label>
                    <ion-input type="text" [(ngModel)]="lastName" name="lastName" text-center class="input__text" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked text-center class="form__text">Género</ion-label>
                    <ion-select [(ngModel)]="gender" name="gender" text-center class="input__text" required>
                        <ion-option value="masculino" text-center class="input__text">Masculino</ion-option>
                        <ion-option value="femenino" text-center class="input__text">Femenino</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label stacked text-center class="form__text">Fecha Nacimiento</ion-label>
                    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="birthDate" name="birthDate" text-center class="input__text" required></ion-datetime>
                </ion-item>
                <button ion-button type="submit" block class="btn--next" (click)="goToRegisterTwo()">Siguiente</button>
            </form>
        </ion-col>
    </ion-row>


</ion-content>