page-candidate-register {

    .h2--impress {
        color: #002971;
        display: inline;
    }

    .h2--job {
        color: #2EC6B9;
        display: inline;
    }

    .form__text {
        color: #2EC6B9 !important;
        font-weight: bold;
        font-size: 14px !important;
    }

    .btn--next {
        background-color: #2EC6B9 !important;
        margin-top: 18px;
        border-radius: 20px;
        text-transform: none;
    }
    
    .h2--personal-facts {
        color: #C3C3C3 !important;
        font-weight: bold;
        font-size: 13px !important;
        margin: 5px;
    }

    .h2--number-page {
        color: #C3C3C3 !important;
        font-weight: bold;
        font-size: 17px !important;
        margin: 5px;
    }

    .row--main-title {
        height: 30px;
    }

    .row--page-facts {
        height: 55px;
    }

    .input__text {
        color: #A4A4A4 !important;
    }


}